.feedback_stats_wrapper {
    display: flex;
    flex-direction: column;
}

.feedback_stats {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: black;
}